---
---

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

1.0 Defaults
2.0 Home Hero
  2.1 Contact
3.0 Posts
4.0 Footer

--------------------------------------------------------------*/

@import '../_sass/bootstrap';
@import '../_sass/mixins';


$primary: #0a0a0a;
$secondary: #FF7B7B;

%opensans { font-family: 'Open Sans', sans-serif; }
%merriweather { font-family: 'Merriweather', serif; }
%imfell {font-family: 'IM Fell English', serif; }
/*--------------------------------------------------------------
	1.0 Defaults
--------------------------------------------------------------*/

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #e9edf0;
  @extend %imfell;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @extend %imfell;
  font-weight: 700;
}

article {
  margin: 5em 0;
}

p {
  line-height: 1.8;
  font-size: 1.3em;
}

a {
  @include transition(color .2s ease-in-out);
  &:hover {
    color: #FF5B33;
    text-decoration: none;
  }
}

button.btn, input.btn {
  padding: 12px 35px;
  margin: 2em 0.5em;
  border: solid 1px #d5e0e7;
  border-radius: 4px;
  color: #2E4453;
  font-weight: 600;
  &:hover, &.btn-default:hover {
    background-color: white;
    border: solid 1px #b0c5d2;
    -moz-box-shadow: 0 1px 0 #b0c5d2;
    -webkit-box-shadow: 0 1px 0 #b0c5d2;
    box-shadow: 0 1px 0 #b0c5d2;
  }
  i {
    padding-right: 0.5em;
  }
  @include bp-xsmall {
    @include horizontal-align;
    margin-bottom: 0.5em;
  }
}

.main {
  background-color: white;
  border-left: solid 1px #cedfea;
  border-right: solid 1px #cedfea;
  &.container {
    padding: 0;
  }
}

.section-jump {
  position: relative;
  top: 0;
  color: #C8D7E1;
  margin: 0 auto;
  display: table;
  @include transition(top .2s ease-in);
  &:hover {
    top: 3px;
  }
}

/*--------------------------------------------------------------
	2.0 Home Hero
--------------------------------------------------------------*/
.hero-container {
  margin: 10em 0 9em 0;
  @include bp-xsmall {
    margin: 5em 0 5em 0;
  }
  @include bp-small {
    margin: 5em 0 5em 0;
  }
}

.hero-content {
  width: 60%;
  margin: 0 auto;
  display: table;
  @include bp-medium {
    width: 100%;
  }
  @include bp-small {
    width: 100%;
  }
  @include bp-xsmall {
    width: 100%;
  }
  h1 {
    font-size: 48px;
  }
  p {
    margin: 2em 0 4em 0;
  }
  .hero-buttons {
    margin: 0 auto;
    display: table;
    i {
      padding-right: 0.5em;
    }
  }
}

/*--------------------------------------------------------------
	2.1 Contact
--------------------------------------------------------------*/
.modal-header {
  border-bottom: none;
  button {
    margin-bottom: 0;
  }
}

.modal-content {
  border-radius: 2px;
}

.modal-body {
  margin: 0 20px;
  label {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 0.5em;
  }
  textarea, input {
    border-color: #e6e6e6;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 1em;
  }
  .form-group {
    margin: 0;
  }
  .form-control {
    padding: 25px;
    font-size: 16px;
  }
  input[type="submit"]{
    float: right;
    margin-right: 0;
  }
  ::-webkit-input-placeholder {
    color: #D6D6D6;
  }
  :-moz-placeholder {
    color: #D6D6D6;
  }
  ::-moz-placeholder {
    color: #D6D6D6;
  }
  :-ms-input-placeholder {
    color: #D6D6D6;
  }
}

/*--------------------------------------------------------------
	3.0 Posts
--------------------------------------------------------------*/
#portfolio .container {
  margin-top: 10em;
  @include bp-xsmall {
    margin-top: 2em;
  }
  .break {
    margin: 8em 0;
    @include bp-xsmall {
      margin: 2em 0;
    }
  }
}

.section-title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 1em;
  &:after {
    content: '';
    position: absolute;
    top: 1.35em;
    width: 3em;
    height: 3px;
    background-color: #ECEFF1;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.section-subtitle {
  width: 40%;
  margin: 0 auto;
  @include bp-xsmall {
    width: 100%;
  }
  @include bp-small {
    width: 60%;;
  }
}

.content-wrap {
  margin-bottom: 8em;
  @include bp-xsmall {
    margin-bottom: 2em;
  }
  @include bp-small {
    margin-bottom: 2em;
  }
  img.img-responsive {
    @include bp-xsmall {
      display: none;
    }
    @include bp-small {
      display: none;
    }
  }
  .content {
    margin-top: 5em;
    margin-left: 5em;
    @include bp-xsmall {
      margin-left: 0;
    }
    h3.title {
      position: relative;
      margin-bottom: 1.5em;
      &:after {
        content: '';
        position: absolute;
        top: 1.5em;
        left: 0;
        width: 3em;
        height: 3px;
        background-color: #ECEFF1;
      }
    }
    .excerpt {
      width: 80%;
      @include bp-xsmall {
        width: 100%;
      }
    }
    button{
      font-size: 16px;
      margin-left: 0;
      margin-bottom: 1em;
      margin-top: 1em;
    }
    .tags, .categories {
      margin: 2em 0;
      span {
        color: #9eb1bd;
        background-color: #ECEFF1;
        padding: 0.5em 1.5em;
        display: inline-block;
        margin-bottom: 0.5em;
      }
    }
    .categories span {
      color: #b9b1ad;
      background-color: #EFEBE9;
    }
  }
}

/*--------------------------------------------------------------
	4.0 Footer
--------------------------------------------------------------*/
.site-footer {
  font-size: 14px;
  margin-top: 2em;
  border-top: 1px solid #efefef;
  padding: 1em 0;
  p {
    font-size: 12px;
    font-weight: 600;
    color: #9eb1bd;
    margin: 0;
    padding: 10px 0;
    @include bp-xsmall {
      text-align: center;
    }
  }
  .section-jump {
    float: right;
    @include bp-xsmall {
      float: none;
    }
  }
}

/*--------------------------------------------------------------
	5.0 Code formatting
--------------------------------------------------------------*/
pre,
code {
  color: #262626;
  font-size: 14px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  background-color: #FBFBFB;  }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/*--------------------------------------------------------------
	6.0 Syntax highlighting styles
--------------------------------------------------------------*/
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
    .highlight .hll { background-color: #ffffcc }
    .highlight .c { color: #8f5902; font-style: italic } /* Comment */
    .highlight .err { color: #a40000 } /* Error */
    .highlight .g { color: #000000 } /* Generic */
    .highlight .k { color: #204a87; font-weight: bold } /* Keyword */
    .highlight .l { color: #000000 } /* Literal */
    .highlight .n { color: #000000 } /* Name */
    .highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
    .highlight .x { color: #000000 } /* Other */
    .highlight .p { color: #000000; font-weight: bold } /* Punctuation */
    .highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
    .highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
    .highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
    .highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
    .highlight .gd { color: #a40000 } /* Generic.Deleted */
    .highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
    .highlight .gr { color: #ef2929 } /* Generic.Error */
    .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .highlight .gi { color: #00A000 } /* Generic.Inserted */
    .highlight .go { color: #000000; font-style: italic } /* Generic.Output */
    .highlight .gp { color: #8f5902 } /* Generic.Prompt */
    .highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
    .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
    .highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
    .highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
    .highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
    .highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
    .highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
    .highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
    .highlight .ld { color: #000000 } /* Literal.Date */
    .highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
    .highlight .s { color: #4e9a06 } /* Literal.String */
    .highlight .na { color: #c4a000 } /* Name.Attribute */
    .highlight .nb { color: #204a87 } /* Name.Builtin */
    .highlight .nc { color: #000000 } /* Name.Class */
    .highlight .no { color: #000000 } /* Name.Constant */
    .highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
    .highlight .ni { color: #ce5c00 } /* Name.Entity */
    .highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
    .highlight .nf { color: #000000 } /* Name.Function */
    .highlight .nl { color: #f57900 } /* Name.Label */
    .highlight .nn { color: #000000 } /* Name.Namespace */
    .highlight .nx { color: #000000 } /* Name.Other */
    .highlight .py { color: #000000 } /* Name.Property */
    .highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
    .highlight .nv { color: #000000 } /* Name.Variable */
    .highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
    .highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
    .highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
    .highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
    .highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
    .highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
    .highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
    .highlight .sc { color: #4e9a06 } /* Literal.String.Char */
    .highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
    .highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
    .highlight .se { color: #4e9a06 } /* Literal.String.Escape */
    .highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
    .highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
    .highlight .sx { color: #4e9a06 } /* Literal.String.Other */
    .highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
    .highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
    .highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
    .highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
    .highlight .vc { color: #000000 } /* Name.Variable.Class */
    .highlight .vg { color: #000000 } /* Name.Variable.Global */
    .highlight .vi { color: #000000 } /* Name.Variable.Instance */
    .highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
